# Configuración de Base de Datos
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/filmpin?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=tu_contraseña_segura